* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  height: 100vh;
  font-family: "Redressed", cursive;
  font-size: 20px;
  color: #97d3af;
  background-color: #004445;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  max-height: 10%;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px 5px;
  margin-top: 5px;
  width: 100%;
  height: 100%;
  gap: 15px;
  border-bottom: 2mm ridge #97d3af;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  width: auto;
}

a {
  text-decoration: none;
  color: #97d3af;
  transition: 0.5s;
}

.logo {
  display: flex;
  width: 40px;
  height: 40px;
}

.input-search {
  padding: 0 15px;
  width: 250px;
  height: 40px;
  border-radius: 25px;
  border: 2px solid #97d3af;
  outline: none;
  font-family: "Redressed", cursive;
  font-size: 24px;
  color: #004445;
  background-color: #bdbfc1;
}

.input-search:focus {
  width: 280px;
  height: 43px;
  box-shadow: 0px 0px 10px 5px rgba(151, 211, 175, 1);
}

input[type="search"]::-webkit-search-cancel-button {
  filter: grayscale(100%);
}

.main {
  display: flex;
  flex: 1 1 auto;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.photo {
  width: 430px;
  height: 430px;
  border-radius: 10px;
  box-shadow: 8px 10px 15px 0px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}

.footer {
  width: 100%;
  max-height: 10%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 50px 5px;
  border-top: 2mm ridge #97d3af;
}

.year-github {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.github-link,
.rs-link {
  transition: 1s;
  filter: invert(86%) sepia(0%) saturate(1364%) hue-rotate(52deg)
    brightness(86%) contrast(76%);
}

.github {
  max-width: 40px;
  width: 100%;
}

.rs {
  max-height: 40px;
  width: 100%;
}

@media (max-width: 949px) {
  .input-search {
    height: 35px;
  }
  .input-search:focus {
    height: 35px;
  }
  .photo-container {
    gap: 20px;
  }
  .photo {
    width: 45%;
    height: 7.7%;
  }
}

@media (max-width: 719px) {
  body {
    font-size: 16px;
  }
  .header-container {
    padding: 0 30px 5px;
    gap: 10px;
  }
  .logo {
    width: 35px;
    height: 35px;
  }
  .input-search {
    width: 180px;
    height: 30px;
    font-size: 18px;
  }
  .input-search:focus {
    width: 210px;
  }
  .photo-container {
    justify-content: space-around;
  }
  .photo {
    height: 7.6%;
  }
  .footer-container {
    padding: 10px 30px 5px;
  }
  .github {
    max-width: 30px;
  }
  .rs {
    max-height: 30px;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 24px;
  }
  .header-container {
    padding: 0 20px 5px;
  }
  .logo {
    width: 30px;
    height: 30px;
  }
  .input-search {
    width: 150px;
    height: 25px;
    font-size: 14px;
  }
  .input-search:focus {
    width: 150px;
    height: 25px;
  }
  .photo {
    height: 7.3%;
  }
  .footer-container {
    padding: 10px 20px 5px;
  }
}

@media (hover: hover) {
  a:hover {
    filter: grayscale(100%);
  }

  .photo:hover {
    transform: scale(1.1);
    filter: brightness(105%) contrast(110%);
  }

  .github-link:hover,
  .rs-link:hover {
    filter: invert(92%) sepia(8%) saturate(1248%) hue-rotate(82deg)
      brightness(89%) contrast(84%);
  }
}
